[submodule "melange"]
	path = melange
	url = https://github.com/melange-re/melange.git
	branch = v6-54
[submodule "reason-react"]
	path = reason-react
	url = https://github.com/reasonml/reason-react.git
