pin-depends: [
  ["dune.dev" "git+https://github.com/davesnx/dune.git#b2fe8d310ffc7088a6328920d53a7cc708b8fa24"]
  ["cmarkit.dev" "git+https://github.com/dbuenzli/cmarkit.git#f37c8ea86fd0be8dba7a8babcee3682e0e047d91"]
]
