.debug * {
  position: relative;
  outline: 1px solid rgba(255, 255, 0, 0.2);
  background-color: rgba(255, 255, 0, 0.1);
}

.debug *::after {
  position: absolute;
  top: 14px;
  left: 14px;
  content: attr("class");
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.Sidebar {
  width: 100px;
  height: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.Sidebar.colapsed {
  width: 30px;
}

.Problems {
  white-space: pre-line
}

.Logo {
  align-items: center;
  justify-content: center;
  display: flex;
}

.Layout {
  display: flex;
  flex: 1;
  height: 100%;
}

.Editor {
  overflow: auto;
  height: 100%;
}

.Menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ActionMenu {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ActionMenu .Separator {
  width: 100%;
  border: none;
}

.Info {
  display: flex;
  flex-direction: column;
}

.Info .Versions {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 12px;
}

.ResizeHandle {
  flex: 0 0 0.5em;
  position: relative;
  outline: none;
  background-color: var(--background-color);

  --background-color: rgba(255, 255, 255, 0.6);
}
.ResizeHandle:hover {
  --background-color: rgba(255, 255, 255, 0.2);
}
.ResizeHandle[data-resize-handle-active] {
  --background-color: rgba(255, 255, 255, 0.3);
}

.Left,
.Right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Toggle {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}
.Toggle button.active {
  outline: 4px auto purple;
}

.ConsoleHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ConsoleHeader .Clear {
  font-size: 12px;
}
.ConsoleHeader .Left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.Console {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #1e1e1e;
}
.Console .Item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 1px;
  margin-top: 1px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.Problems {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #1e1e1e;
  padding: 12px;
}
.ProblemsHeader .Left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.Scrollbar:not(:hover)::-webkit-scrollbar {
  visibility: hidden;
  width: 8px;
}
.Scrollbar:not(:hover)::-webkit-scrollbar-thumb {
  background: transparent;
}
.Scrollbar::-webkit-scrollbar {
  width: 8px;
  transition: all 0.2s ease-in-out;
}
.Scrollbar::-webkit-scrollbar-track {
  background: transparent;
  transition: all 0.2s ease-in-out;
}
.Scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-in-out;
}
.Scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in-out;
}

.Counter {
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
