:root {
  .syntax__ocaml .language-reasonml,
  .syntax__ocaml .text-reasonml,
  .syntax__reasonml .language-ocaml,
  .syntax__reasonml .text-ocaml {
    display: none;
  }

  .language-reasonml.vp-adaptive-theme {
    margin-top: 16px !important;
  }
}

/* Hide VitePress elements on blog pages */
body.blog-page .VPLocalNav {
  display: none !important;
}

body.blog-page .VPDocOutlineDropdown {
  display: none !important;
}
