name: deploy

on:
  push:
    branches:
      - master
      - deploy-gh-actions

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs
      - run: pip install mkdocs-print-site-plugin
      - run: mkdocs gh-deploy --force --clean --verbose
